body{
    background-color: rgba(238,245,255,1);
    width: 414px;
    height: 896px;
    border: 5px solid;
}
.container{
    position: relative;
}


 .imagestack{
    position: relative;
 }
 .imagestack img{
    position: absolute;
 }
 .shape{
    z-index: 2;

 }
 .Status Bar{
    z-index: 3;
 }
 .Rectangle{
    z-index: -1;
 }
 .girl{
    z-index: 3;
   margin-left: 7%;
   margin-top: 9%;
 }
 

.container2{

   position: absolute;
}
.border{
   border-top-width: 2px;
   border-bottom-width: 2px;
   border-left-width: 2px;
}


/* 


.container{
    position:relative;
    
    height: auto;  
    padding: auto;
    
}
    
.shape{
    
    width: 60%;
    height:auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-4;
    transform: translate(-89,-108);
    

}

.status bar{
     width: 405px;
      height: 44px;
    position: relative;
    z-index: 5;   
    transform: translate(0,0);
     opacity: 100%;
   stroke: 000000;


.Rectangle{
    position: absolute;
    width: 50%;
    margin: 0;
    padding: 0;
}
}
.girl{
    position: relative;
    margin-left: 30%;
    margin-top: 30%;
} */